{% extends 'base.html.twig' %}

{% block pageContent %}
    <div class="row">
        <div class="text_container">
            <div class="container text-box-title py-5">
                <h1 class="">About us</h1>
            </div>
        </div>
    </div>
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="row position-relative mt-4">
                <div class="col-lg-7 about-img"
                     style="background-image: url('{{ asset('image/property/Most-Beautiful-House-in-the-World.jpg') }}');"></div>
                <div class="col-lg-7">
                    <h2>What is Lorem Ipsum?</h2>
                    <div class="our-story">
                        <h4>Lorem Ipsum</h4>
                        <h3>Our Story</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's
                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions
                            of Lorem Ipsum.</p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i>
                                <span>Ullamco laboris nisi ut aliquip ex ea commo</span></li>
                            <li><i class="bi bi-check-circle"></i>
                                <span>Duis aute irure dolor in reprehenderit in</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span>
                            </li>
                        </ul>
                        <p>Vitae autem velit excepturi fugit. Animi ad non. Eligendi et non nesciunt suscipit
                            repellendus porro in
                            quo eveniet. Molestias in maxime doloremque.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-5 mb-5">
        <h1 class="mb-3">The Team</h1>
        <div class="row ">
            <div class="col-md-4">
                <div class="card p-3 text-center px-4">

                    <div class="user-image">

                        <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png" class="rounded-circle" width="80">

                    </div>

                    <div class="user-content">

                        <h5 class="mb-0">raghav joshi</h5>
                        <span>Developer</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>

                    </div>

                    <div class="teamuser ">
                        <a href="" class="text-dark"> <i class="fa-brands fa-facebook"></i></a>
                        <a href="" class="text-dark"> <i class="fa-brands fa-square-instagram"></i></a>
                        <a href="" class="text-dark"> <i class="fa-brands fa-twitter"></i></a>
                        <a href="" class="text-dark"> <i class="fa-brands fa-youtube"></i></a>

                    </div>

                </div>
            </div>

            <div class="col-md-4">

                <div class="card  text-center px-4">
                    <div class="card-body">
                        <div class="user-image">

                            <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png" class="rounded-circle" width="80">

                        </div>
                        <div class="user-content">

                            <h5 class="mb-0">Mark Smith</h5>
                            <span>Web Developer</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.</p>

                        </div>
                        <div class="social">
                            <a href="" class="text-dark"> <i class="fa-brands fa-facebook"></i></a>
                            <a href="" class="text-dark"> <i class="fa-brands fa-square-instagram"></i></a>
                            <a href="" class="text-dark"> <i class="fa-brands fa-twitter"></i></a>
                            <a href="" class="text-dark"> <i class="fa-brands fa-youtube"></i></a>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="card p-3 text-center px-4">
                    <div class="card-body">
                        <div class="user-image">

                            <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png" class="rounded-circle" width="80">

                        </div>

                        <div class="user-content">

                            <h5 class="mb-0">Veera Duncan</h5>
                            <span>Software Architect</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.</p>

                        </div>
                        <div class="social">
                            <a href="" class="text-dark"> <i class="fa-brands fa-facebook"></i></a>
                            <a href="" class="text-dark"> <i class="fa-brands fa-square-instagram"></i></a>
                            <a href="" class="text-dark"> <i class="fa-brands fa-twitter"></i></a>
                            <a href="" class="text-dark"> <i class="fa-brands fa-youtube"></i></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="section mt-2">
        <div class="container">
            <h1>gallery <span class="badge bg-secondary">New</span></h1>
            <div class="row">
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="0">
                    <a href="" title="click me">
                        <img src="https://images.unsplash.com/photo-1508919801845-fc2ae1bc2a28?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1nfGVufDB8fDB8fHww&w=1000&q=80"
                             alt="Image" class="img-fluid"/>
                    </a>
                </div>
                <div class="col-md-4 mt-lg-5" data-aos="fade-up" data-aos-delay="100">
                    <a href="" title="click me">
                        <img src="https://images.unsplash.com/photo-1508919801845-fc2ae1bc2a28?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1nfGVufDB8fDB8fHww&w=1000&q=80"
                             alt="Image" class="img-fluid"/>
                    </a>
                </div>
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                    <a href="" title="click me">
                        <img src="https://images.unsplash.com/photo-1508919801845-fc2ae1bc2a28?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1nfGVufDB8fDB8fHww&w=1000&q=80"
                             alt="Image" class="img-fluid"/>
                    </a>
                </div>
            </div>

        </div>
    </div>


    <div id="content" class="row text-center align-items-center mt-2">
        <div class="col-md-6">
            <h2>Offices Location</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus aliquam cursus. Duis ut nibh
                felis. Suspendisse potenti. Mauris a ante ut velit lobortis fringilla. Sed ac efficitur turpis.</p>
        </div>

        <div class="col-md-6 map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27458.395079340982!2d76.8540672!3d30.653697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fc0be76905e37%3A0x25fdaf669dce758d!2sRamada%20Plaza%20by%20Wyndham%20Chandigarh%20Zirakpur!5e0!3m2!1sen!2sin!4v1687516712507!5m2!1sen!2sin"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>


    <!-- End About Section -->
{% endblock %}