{% extends 'base.html.twig' %}

{% block pageContent %}
    {{ include('carousel/carousel_and_filter.html.twig') }}

    <div class="container mt-5 py-5">
        <h2 class="mt-4 mb-5" style="text-align: center">Properties</h2>
        <div class="row ">
            <div class="col-md-6">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ asset('image/property/Most-Beautiful-House-in-the-World.jpg') }}"
                                 class="card-img-top" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ asset('image/property/Most-Beautiful-House-in-the-World.jpg') }}"
                                 class="card-img-top" alt="...">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
