.svg{
  background-image: url('../../../public/image/property/img-Besoins.jpg');
  background-size: cover;
  height: 23rem;
}
#envelope {
  animation: float 2s ease-in-out infinite;
  height:8rem;
  margin-left: 18rem;
  margin-top: 5rem;
}

#contact_btn{
  margin-top: 2rem;
  margin-left: 11rem;
}


@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.title {
  font-family: 'Pacifico', cursive;
  color: #212529;
  font-size: 2.5rem;
}

.contact_message {
  background-color: #f2f6f8;
  border-radius: 2rem;
  border-left: none;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}
textarea#contact_message {
  border-radius: 0px 32px 32px 0px;
}
.input-group-text{
  border-radius: 32px 0px 0px 32px;
  border-right: none;
  background-color: #f2f6f8;
}