{% extends 'base.html.twig' %}
{% block containerClass %}max-width-1920{% endblock %}

{% block pageContent %}
  <div class="row">
    {{ include('listing/property/property_listing.html.twig') }}
  </div>
{% endblock %}


