{% extends 'base.html.twig' %}

{% block pageContent %}
    {{ include('carousel/carousel_and_filter.html.twig') }}
    <div class="container mt-5 ">
        <div class="row" id="propertyListing">

        </div>
    </div>
{% endblock %}

