{% extends 'base.html.twig' %}

{% block pageContent %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form method="get" action="{{ path('propertyList') }}">
                            <div class="form-group row my-2">
                                <div class="col-md-12">
                                    <label for="inputCity" class="form-label">City</label>
                                    <input class="form-control" placeholder="search city" name="city">
                                </div>
                                <div class="col-md-12">
                                    <label for="inputPropertyStatusType" class="form-label">Type</label>
                                    <select class="form-select" name="propertyType" aria-label="Default select example">
                                        <option selected>Property type</option>
                                        <option value="residential">Residential</option>
                                        <option value="commercial">Commercial</option>
                                    </select>
                                </div>

                                <div class="col-md-12">
                                    <label for="inputPropertyCategory" class="form-label">Category</label>
                                    <select class="form-select" name="propertyCategory"
                                            aria-label="Default select example">
                                        <option value="">Property type</option>
                                        <option value="villa">Villa</option>
                                        <option value="apartment">Apartment</option>
                                        <option value="floor">Floor</option>
                                        <option value="office">Office</option>
                                        <option value="Shop">Shop</option>
                                        <option value="hotel">Hotel</option>
                                        <option value="warehouse">Warehouse</option>
                                        <option value="agricultural_farm_land">Agricultural/ Farm Land</option>
                                    </select>
                                </div>

                                <div class="col-md-12">
                                    <label for="inputPropertyStatus" class="form-label">Status</label>
                                    <select class="form-select" name="status" aria-label="Default select example">
                                        <option value="">Open this select menu</option>
                                        <option value="sale">For Sale</option>
                                        <option value="rent">For Rent</option>
                                    </select>
                                </div>

                                <div class="col-md-12 text-center mt-3">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row" id="propertyListing">
                    {{ include('listing/property/property_listing.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

