{% extends 'base.html.twig' %}

{% block pageContent %}
    {{ include('carousel/carousel_and_filter.html.twig') }}

    <div class="row  mt-5 py-5">
        <div class="col-lg-6">
            <div class="text-start mx-auto mb-5">
                <h1 class="mb-3">Property Listing</h1>
                <p>The standard chunk of Lorem Ipsum used since the 1500s is
                    reproduced below for those interested. Sections 1.10.32 and 1.10.33 from
                    "de Finibus Bonorum et Malorum" by
                    Cicero are also reproduced in their exact original form,
                    accompanied by English versions from the 1914 translation by H. Rackham.</p>
            </div>
        </div>
        <div class="col-lg-6 text-start text-lg-end">
            <ul class="nav nav-pills d-inline-flex justify-content-end ">
                <li class="nav-item px-2">
                    <a class="btn btn-outline-primary" aria-current="page" href="#tab1">Feature</a>
                </li>
                <li class="nav-item px-2">
                    <a class="btn btn-outline-primary " aria-current="page" href="#tab2">For Rent</a>
                </li>
                <li class="nav-item px-2">
                    <a class="btn btn-outline-primary " aria-current="page" href="#tab3">For Sale</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}