{% extends 'base.html.twig' %}

{% block pageContent %}
    <div class="container mt-5 ">
        <div class="row" id="propertyListing">
            {{ include('listing/property/property_listing.html.twig') }}
        </div>
    </div>
{% endblock %}

