<nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <img  src="{{ asset('image/login/resetPassword.jpg') }}" class="d-sm-none" width="50" alt="logo">
                <button type="button"  class="d-lg-none btn btn-sm px-3" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false" >
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <div class="col-10 justify-content-end d-flex align-items-center">

                <div class="d-inline-block mx-2">
                    <i class="fa-solid fa-bell"></i>
                </div>

                <div class="d-inline-block">
                    <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img  src="{{ asset('image/userImage/male.png') }}"  class="img-fluid rounded-circle d-sm-width"  alt="male">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"> <i class="fa-solid fa-user"></i> Account</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-to-bracket"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>