{% extends 'knp_menu.html.twig' %}


{% block linkElement %}
    {% import _self as knp_menu %}
    {% set linkUri = item.uri %}
    <a {{ linkUri |raw }} {{ knp_menu.attributes(linkAttributes) }}>
            <i class="fa-solid {{ item.labelAttributes }}"></i>
        <span>{{ block('label') }}</span>
    </a>

{% endblock %}